<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="/holity/css/bootstrap.css">
    <link rel="stylesheet" href="/holity/css/fonts.css">
    <link rel="stylesheet" href="/holity/css/style.css">
</head>
<body>
<div class="preloader">
    <div class="preloader-body">
        <div class="preloader-item"></div>
    </div>
</div>
<div class="page">
    <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed"
                 data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
                 data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true"
                 data-xxl-stick-up="true">
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
                     data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!--RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!--RD Navbar Toggle-->
                            <!--RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                            </button>
                            <!--RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark"
                                                                                    src="/holity/images/logo-default-334x134.png"
                                                                                    alt="" width="167" height="67"
                                                                                    loading="lazy"/><img
                                    class="brand-logo-light" src="/holity/images/logo-inverse-334x134.png" alt=""
                                    width="167" height="67" loading="lazy"/></a>
                            </div>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">主页</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">活动列表</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="support-us.html">志愿秀</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="events.html">个人中心</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="single-event.html">已报名活动</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="single-event.html">工时查看</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">消息中心</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="rd-navbar-aside rd-navbar-collapse">
                            <a class="rd-navbar-link btn btn-secondary" href="../vihoadmin/login.html">注册/登录</a>
                            <!--                  <button class="rd-navbar-btn btn btn-btn-secondary" href="../viho/login.html">登录</button>-->
                            <!--                  <button class="rd-navbar-btn btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal">登录</button>-->
                            <!--                  <button class="rd-navbar-btn btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal">注册</button>-->
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- About us-->
    <section class="section section-lg bg-default">
        <div class="container">
            <div class="row row-30 align-items-center flex-md-row-reverse">
                <div class="col-md-6">
                    <div class="layout layout-1"><img class="layout-item wow fadeInRight"
                                                      src="/holity/images/element-01-300x286.png" alt="" width="300"
                                                      height="286" loading="lazy"/><img
                            src="/holity/images/home-01-610x492.jpg" alt="" width="610" height="492" loading="lazy"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pe-xl-5">
                        <img src="/holity/images/icon_evol.png">
                        <!--                        <h1 class="wow fadeInLeft">E-志愿</h1>-->
                        <!--                        <div class="big wow fadeInLeft">E-volunteer</div>-->
                        <!--                        <button class="btn btn-lg btn-primary wow fadeInLeft" data-bs-toggle="modal"-->
                        <!--                                data-bs-target="#modal">Donate Now-->
                        <!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Sponsors-->
    <section class="section section-lg bg-default">
        <div class="container">
            <h4>志愿者组织:</h4>
            <div class="owl-carousel owl-carousel-center owl-carousel-1" data-items="1" data-sm-items="2"
                 data-md-items="3" data-lg-items="4" data-xl-items="5" data-autoplay="true"
                 data-owl="{&quot;dots&quot;:true,&quot;slideTransition&quot;:&quot;linear&quot;,&quot;autoplayTimeout&quot;:4000,&quot;autoplaySpeed&quot;:4000,&quot;autoplayHoverPause&quot;:true}">
                <a class="image-link" href="#"><img src="/holity/images/org1.png" alt="" width="164"
                                                    height="37" loading="lazy"/></a><a class="image-link" href="#"><img
                    src="/holity/images/org2.png" alt="" width="164" height="41" loading="lazy"/></a><a
                    class="image-link mt-sm-2" href="#"><img src="/holity/images/org3.png" alt="" width="195"
                                                             height="30" loading="lazy"/></a><a class="image-link"
                                                                                                href="#"><img
                    src="/holity/images/org4.png" alt="" width="164" height="25" loading="lazy"/></a><a
                    class="image-link" href="#"><img src="/holity/images/org5.png" alt="" width="164"
                                                     height="29" loading="lazy"/></a></div>
        </div>
    </section>
    <!-- Welcome to Holity-->
    <!--    <section class="section section-lg bg-default">-->
    <!--        <div class="container">-->
    <!--            <div class="text-block text-block-1 text-center">-->
    <!--                <h2 id="testfotajax">Welcome to Holity, a nationwide charitable, non-profit organization</h2>-->
    <!--            </div>-->
    <!--            <div class="owl-carousel owl-carousel-2 owl-carousel-shadow" data-items="1" data-sm-items="2"-->
    <!--                 data-lg-items="3" data-xxl-margin="50" data-loop="false" data-autoplay="false"-->
    <!--                 data-owl="{&quot;dots&quot;:true}">-->
    <!--                <div class="blurb-number blurb-number-boxed blurb-number-primary wow fadeInLeft">-->
    <!--                    <div class="blurb-number-value">01</div>-->
    <!--                    <h3 class="blurb-number-title">Our Mission</h3>-->
    <!--                    <div class="blurb-number-text">We see our mission in generating resources through fundraising-->
    <!--                        initiatives and partnerships.-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="blurb-number blurb-number-boxed blurb-number-secondary wow fadeInUp">-->
    <!--                    <div class="blurb-number-value">02</div>-->
    <!--                    <h3 class="blurb-number-title">Our Vision</h3>-->
    <!--                    <div class="blurb-number-text">We aim to grant wishes that will give hope to people in need in-->
    <!--                        communities across the world.-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="blurb-number blurb-number-boxed blurb-number-primary-light wow fadeInRight">-->
    <!--                    <div class="blurb-number-value">03</div>-->
    <!--                    <h3 class="blurb-number-title">Our Goal</h3>-->
    <!--                    <div class="blurb-number-text">The goal of our organization is to reduce the inequity in access to-->
    <!--                        education &amp; health care.-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
    <!-- About us-->
    <br>
    <section class="section section-lg bg-default text-center">
        <div class="container">
            <div class="text-block text-block-2">
                <h2>志愿风采</h2>
                <!--                <div class="big">We regularly organize charitable campaigns aimed at changing the lives of people around-->
                <!--                    the world.-->
                <!--                </div>-->
            </div>
            <div class="owl-carousel owl-carousel-2" data-items="1" data-sm-items="2" data-lg-items="3"
                 data-xxl-margin="50" data-loop="false" data-autoplay="false" data-owl="{&quot;dots&quot;:true}">
                <div class="post-classic wow fadeInUp"><a class="post-classic-media" href="single-event.html"><img
                        class="post-classic-img" src="/holity/images/events-01-390x300.jpg" alt="" width="390"
                        height="300" loading="lazy"/></a>
                    <h3 class="post-classic-title"><a href="single-event.html">爱心便当志愿活动</a></h3>
                    <div class="post-classic-meta post-meta">
                        <div class="post-meta-item"><span class="post-date">Mon, Jan 02</span></div>
                        <!--                        <div class="post-meta-item"><span class="post-location">San Francisco</span></div>-->
                    </div>
                    <button class="post-classic-btn btn btn-secondary">
                        查看活动详情
                    </button>
                </div>
                <div class="post-classic wow fadeInUp" data-wow-delay=".15s"><a class="post-classic-media"
                                                                                href="single-event.html"><img
                        class="post-classic-img" src="/holity/images/events-02-390x300.jpg" alt="" width="390"
                        height="300" loading="lazy"/></a>
                    <h3 class="post-classic-title"><a href="single-event.html">助学志愿活动</a></h3>
                    <div class="post-classic-meta post-meta">
                        <div class="post-meta-item"><span class="post-date">Sat, May 11</span></div>
                        <!--                        <div class="post-meta-item"><span class="post-location">San Francisco</span></div>-->
                    </div>
                    <button class="post-classic-btn btn btn-secondary">
                        查看活动详情
                    </button>
                </div>
                <div class="post-classic wow fadeInUp" data-wow-delay=".3s"><a class="post-classic-media"
                                                                               href="single-event.html"><img
                        class="post-classic-img" src="/holity/images/events-03-390x300.jpg" alt="" width="390"
                        height="300" loading="lazy"/></a>
                    <h3 class="post-classic-title"><a href="single-event.html">公益捐书志愿活动</a>
                    </h3>
                    <div class="post-classic-meta post-meta">
                        <div class="post-meta-item"><span class="post-date">Mon, Aug 28</span></div>
                        <!--                        <div class="post-meta-item"><span class="post-location">San Francisco</span></div>-->
                    </div>
                    <button class="post-classic-btn btn btn-secondary">
                        查看活动详情
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-secondary-lightest">
        <div class="container">
            <div class="row row-30 align-items-center">
                <div class="col-md-6">
                    <div class="layout layout-2"><img class="layout-item wow fadeInLeft"
                                                      src="/holity/images/element-02-254x368.png" alt="" width="254"
                                                      height="368" loading="lazy"/><img
                            src="/holity/images/back1.jpg" alt="" width="610" height="492" loading="lazy"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ps-xl-5">
                        <h2 class="wow fadeInRight">E-志愿（益志愿）<br>志愿服务新时代，青年发展新风貌</h2>
                        <!--                        <button class="btn btn-lg btn-primary wow fadeInRight" data-bs-toggle="modal"-->
                        <!--                                data-bs-target="#modal">Donate Now-->
                        <!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Campaigns-->

    <!-- About us-->
    <section class="section section-lg text-center bg-secondary-light-1">
        <div class="container">
            <div class="layout layout-3"><img class="layout-item layout-item wow fadeInRight"
                                              src="/holity/images/element-03-254x368.png" alt="" width="254"
                                              height="368" loading="lazy"/>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-6">
                        <h2 class="wow fadeIn">E-Volunteer</h2>
                        <div class="big wow fadeIn" data-wow-delay=".1s">Here start your journey for volunteer
                        </div>
                        <!--                        <button class="btn btn-lg btn-primary wow fadeIn" data-bs-toggle="modal" data-bs-target="#modal"-->
                        <!--                                data-wow-delay=".12s">Donate Now-->
                        <!--                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    <footer class="section footer-classic small">-->
    <!--        <div class="container">-->
    <!--            <div class="row row-30">-->
    <!--                <div class="col-xs-7 col-md-5">-->
    <!--                    <h4 class="footer-title">Contact us</h4>-->
    <!--                    <ul class="list">-->
    <!--                        <li>T: <a class="link-inherit" href="">(868) 630-9327</a>-->
    <!--                        </li>-->
    <!--                        <li>H: T-F: 7am – 3pm, S-SU: 8am – 3pm-->
    <!--                        </li>-->
    <!--                        <li>L : 348S, 11th St. Philly, NY 24107-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                    <ul class="list">-->
    <!--                        <li>E: <a href="mailto:#">mail@demolink.org</a>-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--                <div class="col-xs-5 col-md-2 col-lg-3">-->
    <!--                    <h4 class="footer-title">Socials</h4>-->
    <!--                    <ul class="list-md">-->
    <!--                        <li><a class="link-secondary" href="#">Facebook</a></li>-->
    <!--                        <li><a class="link-secondary" href="#">Instagram</a></li>-->
    <!--                        <li><a class="link-secondary" href="#">Twitter</a></li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--                <div class="col-md-5 col-lg-4">-->
    <!--                    <h4 class="footer-title">Subscribe</h4>-->
    <!--                    <form class="rd-form rd-mailform rd-form-inline" data-form-output="form-output-global"-->
    <!--                          data-form-type="subscribe" method="post" action="bat/rd-mailform.php">-->
    <!--                        <div class="form-wrap">-->
    <!--                            <input class="form-input" id="subscribe-form-email" type="email" name="email"-->
    <!--                                   data-constraints="@Email @Required">-->
    <!--                            <label class="form-label" for="subscribe-form-email">Your email address</label>-->
    <!--                        </div>-->
    <!--                        <div class="form-button">-->
    <!--                            <button class="btn btn-sm btn-primary" type="submit">Sign Up</button>-->
    <!--                        </div>-->
    <!--                    </form>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Holity</span><span>.&nbsp;</span>By-->
    <!--                <a href="http://www.bootstrapmb.com/">bootstrapmb</a></p>-->
    <!--        </div>-->
    <!--    </footer>-->
</div>
<div class="modal fade" id="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-image:url(../holity/images/background-item.png)">
            <div class="modal-header">
                <h4 class="modal-title">Make a Donation</h4>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="rd-mailform text-start" data-form-output="form-output-global" data-form-type="contact"
                      method="post" action="bat/rd-mailform.php">
                    <div class="row row-20">
                        <div class="col-12">
                            <div class="form-input-group">
                                <div class="form-wrap">
                                    <label class="form-label" for="modal-card-number">Card number</label>
                                    <input class="form-input" id="modal-card-number" type="text" name="card-number">
                                </div>
                                <div class="form-wrap">
                                    <label class="form-label" for="modal-card-date">MM/YY</label>
                                    <input class="form-input" id="modal-card-date" type="text" name="card-date">
                                </div>
                                <div class="form-wrap">
                                    <label class="form-label" for="modal-card-code">Code</label>
                                    <input class="form-input" id="modal-card-code" type="text" name="card-code">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <label class="form-label" for="modal-name">Your name</label>
                                <input class="form-input" id="modal-name" type="text" name="name"
                                       data-constraints="@Required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <label class="form-label" for="modal-email">Your email address</label>
                                <input class="form-input" id="modal-email" type="email" name="email"
                                       data-constraints="@Required @Email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <label class="form-label" for="modal-phone">Your phone</label>
                                <input class="form-input" id="modal-phone" type="text" name="phone"
                                       data-constraints="@Required @Numeric">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-wrap">
                                <label class="form-label" for="modal-subject">$</label>
                                <input class="form-input" id="modal-subject" type="text" name="donate"
                                       data-constraints="@Required">
                            </div>
                        </div>
                    </div>
                    <div class="form-button btn-group-1" id="haahah">
                        <button class="btn btn-sm btn-primary" type="submit">Pay by Card</button>
                        <small>or pay with</small><a class="btn btn-sm btn-secondary" href="#"><span
                            class="btn-icon fa fa-paypal"></span><span>PayPal</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/holity/js/core.min.js"></script>
<script src="/holity/js/script.js"></script>

<script type="text/javascript">

</script>




</body>

</html>
